<div class="columns is-mobile is-centered">
    <div class="column  is-narrow">
        <div class="select">
            <select id="book" name="n_book">
       <% books.forEach(function(book) { %>
           <% if (book.rus == numberBook) { %>
    <option selected value="<%= book.short_name2 %>"><%= book.rus %></option>
<% } else{ %>   
        <option value="<%= book.short_name2 %>"><%= book.rus %></option>
       <% } %>
    <% }); %>
  </select>
        </div>


        <div class="select">
            <select id="chapter" name="n_chapter">
        <% for(var i=1; i<numberCharterCount+1; i++) {%>
           <% if (i == numberChapterActive) { %>
    <option selected value="<%=i %>"><%=i %></option>
<% } else{ %>   
        <option value="<%=i %>"><%=i %></option>
       <% } %>
    <% } %>
  </select>
        </div>
    </div>
    <div class="column  is-narrow">
        <div class="field has-addons has-addons-right">
            <div class="control">
                <input class="input inputFind" type="text" placeholder="Что ищим?">
            </div>
            <div class="control">
                <a class="button is-info Find">
      Поиск
    </a>
            </div>
        </div>
    </div>
</div>

<ul>
    <li><a href="/">/</a></li>
    <li><a href="#whoop">#whoop</a></li>
    <li><a href="/about">/about</a></li>
    <li><a href="/contact">/contact</a></li>
    <li><a href="/contact/me">/contact/me</a></li>
    <li><a href="/not-found?foo=bar">/not-found</a></li>
  </ul>