<div class='dlgStrong'>
 <% dlg_strongs.forEach(function(bible) { %>
 <span class="topic"><%-  bible.topic %></span>
<span class="definition"><%-  bible.definition %></span>
<span class="translit"><%=  bible.transliteration -%></span>
<span class="pronun"><%=  bible.pronunciation -%></span>
<span class="short_def"><%=  bible.short_definition -%></span>
 <hr/>
         <% }); %>
<div>