<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <div class="mdl-layout__container">
        <div class="hebrew-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100 is-upgraded" data-upgraded=",MaterialLayout">
            <header class="mdl-layout__header is-casting-shadow">
                <div class="mdl-layout__header-row">
                    <!--<span class="mdl-layout-title">Танах - в подстрочном переводе на русский язык</span>-->
                    <div class="mdl-layout-spacer"></div>
                </div>
            </header>
            <main class="hebrew-main mdl-layout__content">
                <div class="hebrew-container mdl-grid">
                    <div class="hebrew-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--12-col">
 <% include ../partials/nav.ejs %>
                        <div class="section rtl mdl-grid heb-content">
                            <% hebrews.forEach(function(bible) { %>
                                <div class="mdl-cell mdl-cell--12-col heb-content--flex">
                                    <div class="unit stih">
                                        <%= bible.numVerse %>
                                    </div>
                                    <% bible.textVerse.forEach(function(verse) { %>
                                        <div class="unit" data-id=<%=verse.wordID %>>
                                             <span class="strongs"><%=  verse.strong %></span>
                                            <span class="manuscript"><%=  verse.manuscript %></span>
                                            <span class="hebrew"><%=  verse.lex_Hebrew %></span>
                                            <span class="translit"><%=  verse.transliteration %></span>
                                            <span class="eng"><%=  verse.gloss_Eng %></span>
                                            <span class="rus">русский</span>
                                            <span class="strongsnt"><%=  verse.lex_number %></span>
                                        </div>
                                        <% }); %>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                </div>
                <% include ../partials/footer.ejs %>
            </main>
            <form action="/register" method="post">
        <label>Имя</label></br>
        <input type="text" name="userName" /></br></br>
        <label>Возраст</label></br>
        <input type="number" name="userAge" /></br></br>
        <input type="submit" value="Отправить" />
    </form>
        </div>
        <script src="/material/material.min.js"></script>
        <script defer src="https://cdn.rawgit.com/CreativeIT/getmdl-select/master/getmdl-select.min.js"></script>
</body>

</html>