<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
        <div class="container1">
            <main class="hebrew-main mdl-layout__content">
                <div id="c_hebrew" class="hebrew-container">
                    <div class="hebrew-content">
                        <% include ../partials/nav.ejs %>
                            <div class="rtl  heb-content">
                                <% hebrews.forEach(function(bible) { %>
                                    <div class="heb-content--flex">
                                        <a name="<%= bible.numVerse %>" class="unit stih">
                                            <%= bible.numVerse %>
                                        </a>
                                        <% bible.textVerse.forEach(function(verse) { %>
                                            <div class="unit" data-id="<%=verse.wordID %>">
                                                <span class="strongs"><%=  verse.st_strong %></span>
                                                <span class="manuscript"><%=  verse.manuscript %></span>
                                                <span class="translit"><%=  verse.transliteration %></span>
                                                <span class="hebrew"><%=  verse.lex_Hebrew %></span>
                                                <span class="morph"><%=  verse.morph_prscoderus %></span>
                                                <span class="eng"><%=  verse.gloss_Eng %></span>
                                                <span class="rus"><%=  verse.gloss_Rus %></span>
                                                <!-- <span class="strongsnt"><%=  verse.lex_number %></span> -->
                                            </div>
                                            <% }); %>
                                    </div>
                                    <% }); %>
                            </div>
                    </div>
                </div>
                <!-- <% include ../partials/footer.ejs %> -->
            </main>
        </div>
</body>
<script src="/js/jquery.min.js"></script>
<!-- <script src="/material/material.min.js"></script>
    <script src="/material/getmdl-select.min.js"></script> -->
<script src="/js/tooltipster.bundle.min.js"></script>
<script src="/dialog/jquery-confirm.min.js"></script>
<script src="/lib/noty/noty.js"></script>
<script src="/js/myHebrew.js"></script>
</body>

</html>